.container {
    display: grid;
    min-height: 500px;
    max-width: 500px;
    margin: 2rem auto;
    background-color: white;
    justify-content: center;  
}

.container > div {
    background-color: white;
    border: 1px solid black;
}

#header {
    display: flex;
    justify-content: center;
}

.clearButton {
    text-align: center;
}

